{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <div id="container">
        {% for listing in activelistings %}
            {%if listing.status == "active"%}
            <div>
            <img src="{{listing.imageurl}}" alt="{{ listing.title }}" width=250 height = 250> <br>
            <b><a href="{% url 'listingpage' listing.id %}">{{ listing.title }}</a> </b><br>
            <b>Description:</b> {{ listing.description }} <br>
            <b style="color: #85bb65;">Current price: ₹
                {%for price in listing.listingbid.all%}
                {{price.bidprice}}
                {%empty%}
                {{listing.startingBid}}
                {%endfor%}
            <br>
            </b>
            <b>Category: </b>{{listing.category}}
            </div>
            {%endif%}
        {% endfor %}
    </div>
{% endblock %}
